{% extends 'base.html' %}

{% block main %} 
    <h1>{{ title }}</h1>

    <ul>
        {% for category in categories %}
            <li><a href="{% url 'posts:index_category' category.id %}">{{ category.title }}</a></li>
        {% endfor %}
    </ul>

    {% if post_list %}
        <ul>
            {% for post in post_list %}
                <li>
                    <a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a>
                    {{ post.category }}
                </li>
            {% endfor %}
        </ul>

        {% include 'pager.html' %}
    {% else %}
        <p>{{ title }}はありません。</p>
    {% endif %}
{% endblock %}